<div class="container profile">
  <div class="profile-top">
    <h1>My Profile</h1>
    <img ng-src="{{profile.user.profile_pic_url}}" ng-if="profile.user.profile_pic_url">
    <h2>{{ profile.user.username }}</h2>
  </div>

  <div class="row profile-options">
    <a ui-sref="profile.inbox" ui-sref-active="active">Inbox</a>
    <a ui-sref="profile.message" ui-sref-active="active">Private Message</a>
    <a ui-sref="profile.edit" ui-sref-active="active">Edit Profile</a>
  </div>
  <div class="profile-wrapper">
    <section ui-view class="row profile-settings">
    </section>
  </div>
</div>
